<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-2 md:gap-4 items-center py-2 border-b border-gray-700">
      <div class="col-span-2 sm:col-span-1 flex items-center">
        <app-pool-icon-pair
          [leftIcon]="pool.left_icon"
          [rightIcon]="pool.right_icon"
          [leftAlt]="pool.left_alt"
          [rightAlt]="pool.right_alt"
          class="mr-2"
        ></app-pool-icon-pair>
        <div>
          <div class="font-medium text-sm">{{ pool.name }}</div>
          <div class="text-yellow-500 text-sm">{{ pool.bonus_24h || 0 | largeNumberFormat }}% 24h</div>
        </div>
      </div>
      <div class="text-right sm:text-left">
        <div class="lg:hidden text-sm text-gray-400">TVL</div>
        <div>{{ pool.tvl | currency }}</div>
      </div>
      <div class="text-right sm:text-left flex flex-col items-end sm:items-start">
        <div class="text-sm text-gray-400 md:hidden">Bonus</div>
        <div class="flex items-center">
          <div [class.text-green-500]="+pool.bonus_7d > 0" [class.text-red-500]="+pool.bonus_7d < 0">{{ pool.bonus_7d | largeNumberFormat }}%</div>
          <ng-container *ngIf="pool.boosted">
            <a [href]="pool.incentivised_lp_docs" target="_blank" rel="noopener noreferrer" class="ml-1" title="Boosted Pool - Click for more info">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-yellow-500" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12 2L2 12L12 22L22 12L12 2ZM12 5.5L18.5 12L12 18.5L5.5 12L12 5.5Z" />
              </svg>
            </a>
          </ng-container>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="lg:hidden text-sm text-gray-400">Bonus Type</div>
        <div>{{ pool.bonus_name }}</div>
      </div>
      <div class="hidden lg:block">
        <div class="lg:hidden text-sm text-gray-400">7d Volume</div>
        <div>{{ pool.volume_7d | currency }}</div>
      </div>
      <div class="col-span-2 sm:col-span-1 flex justify-left">
        <button (click)="openDepositModal()" class="bg-yellow-500 text-black px-4 py-2 rounded text-sm hover:bg-yellow-600 transition duration-300">Deposit</button>
      </div>
</div>
