<nav class="bg-gray-800 p-4 relative">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <a href="/" class="flex items-center text-white text-xl font-bold">
      <span class="animate-title">Attos Earn - Pools</span>
    </a>
    <div class="flex items-center">
      <div *ngIf="isMobile" class="lg:hidden mr-4">
        <radix-connect-button />
      </div>
      <button class="text-white lg:hidden" (click)="toggleMenu()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    <div class="w-full lg:flex lg:items-center lg:w-auto transition-all duration-300 ease-in-out lg:transition-none absolute left-0 right-0 top-full lg:relative lg:top-auto bg-gray-800 lg:bg-transparent z-50"
         [ngClass]="{'hidden': !isMenuOpen, 'block': isMenuOpen, 'lg:block': true}">
      <ul class="lg:flex items-center justify-between text-base text-white pt-4 lg:pt-0">
        <li class="relative">
          <a class="lg:p-4 py-3 px-4 block transition-all duration-300 hover:text-yellow-500 text-center" routerLink="/pools" routerLinkActive="text-yellow-500" [routerLinkActiveOptions]="{exact: true}">
            Pools
            <span class="absolute bottom-0 left-1/4 w-1/2 h-0.5 bg-yellow-500 transform scale-x-0 transition-transform duration-300 group-hover:scale-x-100" [ngClass]="{'scale-x-100': isActive('/pools')}"></span>
          </a>
        </li>
        <li class="relative">
          <a class="lg:p-4 py-3 px-4 block transition-all duration-300 hover:text-yellow-500 text-center" routerLink="/strategies" routerLinkActive="text-yellow-500">
            Strategies
            <span class="absolute bottom-0 left-1/4 w-1/2 h-0.5 bg-yellow-500 transform scale-x-0 transition-transform duration-300 group-hover:scale-x-100" [ngClass]="{'scale-x-100': isActive('/strategies')}"></span>
          </a>
        </li>
        <li class="relative">
          <a class="lg:p-4 py-3 px-4 block transition-all duration-300 hover:text-yellow-500 text-center" routerLink="/portfolio" routerLinkActive="text-yellow-500">
            Portfolio
            <span class="absolute bottom-0 left-1/4 w-1/2 h-0.5 bg-yellow-500 transform scale-x-0 transition-transform duration-300 group-hover:scale-x-100" [ngClass]="{'scale-x-100': isActive('/portfolio')}"></span>
          </a>
        </li>
        <li class="pl-2 hidden lg:block" *ngIf="!isMobile"><radix-connect-button /></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
